#education-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--mgc-gap-l);
}

#education-container h2 {
    font-family: var(--mgc-normal-font);
    font-size: var(--mgc-font-size-lg);
    color: var(--mgc-secondary-color);
}

#education-container h3 {
    font-family: var(--mgc-normal-font);
    font-size: var(--mgc-font-size-md);
    color: var(--mgc-secondary-color);
}