/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap'); */

/* Reseteo de estilos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, label, span, p, button, li {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

ol, ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

/* Variables */
:root {
  /* Colores */
  --mgc-primary-color: white;
  --mgc-secondary-color: #303030;
  --mgc-tertiary-color: #01b5b8;
  --mgc-special-color: #aeaeae;

  /* Margins */
  --mgc-margin-xs: 2px;
  --mgc-margin-s: 5px;
  --mgc-margin-m: 10px;
  --mgc-margin-l: 20px;
  --mgc-margin-xl: 40px;

  /* Paddings */
  --mgc-padding-xs: 2px;
  --mgc-padding-s: 5px;
  --mgc-padding-m: 10px;
  --mgc-padding-l: 20px;
  --mgc-padding-xl: 40px;
  --mgc-padding-xxl: 15%;

  /* Gaps */
  --mgc-gap-xs: 2px;
  --mgc-gap-s: 5px;
  --mgc-gap-m: 10px;
  --mgc-gap-l: 20px;
  --mgc-gap-xl: 40px;

  /* Border radius */
  --mgc-radius-xs: 2px;
  --mgc-radius-s: 5px;
  --mgc-radius-m: 10px;
  --mgc-radius-l: 20px;
  --mgc-radius-xl: 40px;
  --mgc-radius-all: 100px;

  /* Font sizes */
  --mgc-font-size-sm: clamp(0.7rem, 0.17vw + 0.66rem, 0.89rem);
  --mgc-font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --mgc-font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --mgc-font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --mgc-font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --mgc-font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --mgc-font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  /* Fonts families */
  --mgc-normal-font: 'Poppins', sans-serif;
  --mgc-funny-font: 'Caprasimo', serif;
  /* --mgc-funny-font: 'Shadows Into Light', cursive; */
  /* --mgc-funny-font: 'Salsa', cursive; */

}

/** MEDIA QUERIES */

/* Tamaño smartphone */
@media screen and (max-width: 390px) { 
  #app-header {
    justify-content: flex-start;
  }
  #nav-menu {
    gap: var(--mgc-gap-l);
  }
  .div-experience {
    width: 80%;
  }
}