#hero {
    width: 100%;
    min-height: 100svh;
    background-image: url("/assets/img/imagen-perfil.jpg");
    background-position: center;
    opacity: 1;
    background-size: cover;
    position: relative;
    display: flex;
}

#hero::before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
}

#div-hero-container {
    margin-top: 10svh;
    width: 100%;
    height: 90svh;
    display: flex;
    flex-wrap: wrap;    
    z-index: 1;
}

#div-left-hero-container {
    width: 60%;
    min-width: 400px;
    height: auto;
    padding: 0 var(--mgc-padding-xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--mgc-gap-l);
}

#div-left-hero-container h1 {
    font-family: var(--mgc-funny-font);
    font-size: var(--mgc-font-size-xxl);
    color: var(--mgc-primary-color);
}

#div-left-hero-container h2 {
    font-family: var(--mgc-normal-font);
    font-size: var(--mgc-font-size-lg);
    color: var(--mgc-primary-color);
}

#div-right-hero-container {
    width: 40%;
    min-width: 250px;
    height: auto;
    padding: 0 var(--mgc-padding-xl);
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills {
    display: flex;
    flex-wrap: wrap;    
    gap: var(--mgc-gap-s);
    z-index: 1;    
}

#skills li {
    border: 1px solid var(--mgc-primary-color);
    border-radius: var(--mgc-radius-s);
    padding: var(--mgc-padding-m);
    color: var(--mgc-primary-color);
    font-size: var(--mgc-font-size-sm);
}

.acquired {
    opacity: 1;
}
.not-acquired {
    opacity: 0.2;
}