#app-header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--mgc-secondary-color);
    padding: var(--mgc-padding-l);
    gap: var(--mgc-gap-m);
}